$background-selected-color: #585b61;
$background-color:  #282c34;
$white: #ffffff;

.navbar{
  padding: 0.5rem 7rem !important;

  a{
    color:$white;
  }
  
  &.bg-light {
    background-color: #ffc107 !important;
  }
}


.card {
  width: 16rem;
  margin-bottom: 20px;
  box-shadow: 1px 1px 18px -2px #9e9898;
  border-radius: 5px;
  margin-right:20px;

  .btn-outline-warning {
    float: right;
    clear: both;
  }
}

.card-title {
  margin-bottom: .75rem;
  float: left;
}

.card-text {
    float: right;
}

.footer{
  background-color: #f4f4f5;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px 80px;

  &-right{
    float: right;
    span{
      margin-right:5px;
    }
  }
}

